* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #0c2340;
  /* overflow: hidden; */
}

.landing-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 50px;
}

.landing-titles{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.landing-titles i {
  padding: 1rem;

}

.landing-titles-small{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.landing-titles-small i {
  padding: 1rem;

}

.landing {
  position: relative;
  background-image: url('../img/yankee-america-short.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing h1 {
  font-size: 64px;
  margin-bottom: 1rem;
}

.landing h3 {
  font-size: 2rem;
  padding-top: 2.5rem;
}

.landing p {
  font-size: 20px;
}

.countdown {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.countdown div {
  padding: 20px;
  border: 1px #fff solid;
  border-radius: 10px;
  background: #000;
  opacity: 0.7;
  margin: 5px;
}

.countdown div  {
  background: #0c2340;
}

.countdown span {
  display: block;
  font-size: 25px;
}

#audio-player .section-container {
 display:flex;
 flex-direction: column;
 padding: 3rem;
 align-items: center;
 justify-content: center;
 margin: 0;
 text-align: center;
}
#audio-player h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
}
#audio-player h3{
  margin: .5rem;
}

.song-title {
  font-style: italic;
  margin: 0;
  padding-bottom: 1.5rem;
}


#photo-album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  margin-top: 0;
}

#photo-album  img {
  max-width: 50vw;
  margin: 1rem;
  border :1px solid white;
}

@media (max-width: 650px) {
  .landing h1 {
    font-size: 2.5rem;
  }

  .landing-inner {
    padding-top: 3rem;
  }

  .landing h3 {
    font-size: 1.25rem;
    padding-top: 5rem
  }

  .countdown {
    font-size: 30px;
  }

  .countdown div {
    margin:0;
    border-radius: 0;
    padding: .5rem;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 1.25rem;
  }
  
  .countdown span {
    font-size: 1.25rem;
  }

  .countdown div:first-child {
   border-radius: 10px 0 0 10px;
   border-left: 1px solid white;
  } 

  .countdown div:last-child {
    border-radius: 0 10px 10px 0;
    border-right: 1px solid white;
   } 

  .landing-titles {
    display: none;
  }
  .landing-titles-small {
    display:flex;
    font-size: 1.25rem;
  }
  .landing-titles-small i {
    padding: 1rem;
  }

  #photo-album img {
    max-width: 90vw;
  }
}